/*

File Name: style.less
Date: 05/31/21
Programmer: Mara Peasley

*/
/*Black and White variables*/
/*Color Palette:
Source = https://color.adobe.com/create/image
(custom palette for AAA Web Accessibility)
*/
/*Parametric mixin for headings */
/*End parametric mixin for headings*/
/*50% transparent*/
/*text underlined and italicized*/
/*text uppercase and bold*/
/*image flip*/
/*invert colors and serif*/
/*make it pink*/
/*sepia photo with shadow*/
/*green border*/
/*.topBorder() {
    border-top: double .5em #000000;
}*/
/*NOTES:
 - All comments updated on 04/25/23 - some small redundancies found but nothing major of concern

 TO DO:
 - Update Notes for full document
 - ADD INSURANCE PAGE:
    - Lists all insurances
    - Add instructions as to how to find what insurance you have
    - Add disclaimer "WE TRY TO CHECK EVERY DEDUCTIBLE TO REDUCE SURPRISES BUT YOU ARE RESPONSIBLE FOR KNOWING YOUR INSURANCE COVERAGE" or something

TO ADD OVERALL:
 - ADD TO THIRDSECTION:
     - Fix Bios
     - Add click effects to cards
     - Add photos and bios

 - ADD TO FOURTHSECTION:
    - Where are you located? question
    - Map of location
    - Do you have parking? question
    - Direction to parking
    - Move whole section UP
  
 - ADD FAQ QUESTIONS
 
 - ADD ABOUT US PAGE
    - Move SECOND SECTION to different page
    - Add photos?

 - ADD SERVICES PAGE
    - Add: ADHD testing, Genetic Testing, Psychiatric Testing, Theraputic Assessment, and Neurofeedback Coming Soon
    - Write descriptions for each
 
 - ADD OPENINGS PAGE
    - List who has openings?
    - Part of the Our Team page?

*/
/* MOBILE STYLESHEET */
header {
  background-color: #caf7fc;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
header a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header a img {
  width: 75%;
}
header button {
  background: #caf7fc;
  float: right;
  border: none;
  margin: auto;
}
header .hamburger img,
header .cross img {
  width: 2.4em;
}
header .accentimg {
  display: none;
  width: 12%;
  float: right;
  padding-right: 2em;
}
header .logo {
  display: block;
}
header .logo_desktop {
  display: none;
}
nav {
  color: #000000;
  padding: 0em 0.5em 0.5em 0.5em;
}
nav a:link {
  border-radius: 5px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdcd49;
  color: #000000;
  width: auto;
  padding: 0.25em 1em 0.25em 3.5em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
nav a:active {
  color: #FFFFFF;
  background-color: #f76f26;
}
nav a:visited {
  color: #000000;
}
nav img {
  width: 7%;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.2em;
}
nav.menu_desktop {
  display: none;
}
main {
  background-color: #caf7fc;
  color: #000000;
  /*FAQ drop down list arrows*/
  /* arrow icon left */
  /* arrow icon down */
}
main h2 {
  color: #000000;
  text-align: center;
  font-size: 1.8em;
}
main p {
  padding: 1em;
}
main strong {
  font-size: 1.5em;
}
main a {
  text-decoration: none;
}
main section h3 {
  text-align: center;
}
main .button {
  background-color: #f76f26;
  color: #000000;
  text-align: center;
  border-radius: 40px;
  display: block;
  width: 75%;
  margin: auto;
}
main .button:hover {
  background-color: #fdcd49;
}
main .button:active {
  background-color: #fbb088;
}
main .question {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em 0.25em 0.75em 0.25em;
  margin: 0.4em;
  color: #000000;
  border-radius: 35px;
}
main .highlight {
  padding-bottom: 1em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  background-color: #caf7fc;
  text-align: center;
  width: 100%;
}
main .highlight .button img {
  vertical-align: middle;
}
main .span_4_of_12 {
  width: auto;
}
main iframe {
  width: 90%;
  height: 250px;
  display: block;
  margin: 1em auto 0 auto;
  border-radius: 10px;
}
main dl {
  background-color: #0cc0d4;
  border-radius: 15px;
  width: 90%;
  padding: 0.01em 0.01em 0.5em 0.01em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
main dt {
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.75em 0.5em 0em 0.5em;
  padding: 0.25em 0.25em 0.25em 0.25em;
  font-size: 1.1em;
}
main dt:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
main dt:first-child {
  margin-top: 0.5em;
}
main dd {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0.55em 0.5em 0.55em;
  border-radius: 0 0 10px 10px;
}
main dd p {
  padding: 0.5em;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}
main dd ul {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main dd li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
main dt:before {
  border: 0.5em solid;
  border-color: transparent transparent transparent #0cc0d4;
  content: '';
  display: inline-block;
  height: 0;
  margin-left: 0.5em;
  margin-right: 0.25em;
  vertical-align: middle;
  width: 0;
}
main dt:hover:before {
  border-left-color: #0cc0d4;
}
main dt.open:before {
  border-color: #0cc0d4 transparent transparent transparent;
  border-bottom-width: 0;
}
main dt.open:hover:before {
  border-left-color: transparent;
  border-top-color: #0cc0d4;
}
main section.firstsection {
  background-image: url(../images/honeycomb_background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #044e77;
  border-radius: 40px;
  margin: 0.5em;
  padding-top: 1em;
  padding-bottom: 2em;
}
main section.firstsection h2 {
  padding-top: 0.5em;
  text-shadow: 1.5px 2px #078fda;
  color: #FFFFFF;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
main section.firstsection a {
  color: #000000;
  background-color: #fdcd49;
  padding: 0em 0.75em 0.75em 0.75em;
  margin-bottom: 1em;
  text-decoration: none;
  font-weight: bold;
}
main section.firstsection a:hover {
  font-style: italic;
  background-color: #FFFFFF;
}
main section.firstsection a::active {
  background: #fdcd49;
}
main section.firstsection img {
  width: 20%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main section.secondsection h3 {
  padding: 1em 1em 0em 1em;
  margin-top: 0.75em;
  font-size: 1.8em;
  text-transform: none;
  text-align: left;
  color: #044e77;
  border-bottom: 4px solid #078fda;
}
main section.secondsection p {
  color: #044e77;
  background-color: rgba(202, 247, 252, 0.75);
  text-align: center;
  border-radius: 20px;
}
main section.thirdsection {
  padding-bottom: 1.5em;
}
main section.thirdsection h3 {
  padding: 0.2em 0em 0.2em 1em;
  margin-bottom: 0em;
  font-size: 1.8em;
  text-transform: none;
  text-align: left;
  color: #044e77;
  border-bottom: 4px solid #078fda;
}
main section.thirdsection h4 {
  font-size: 1.2em;
  color: #000000;
  background-color: #fdcd49;
  padding: 0.5em;
}
main section.thirdsection p {
  padding: 0.5em 2em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  background-color: rgba(255, 255, 255, 0.6);
}
main section.thirdsection img {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main section.thirdsection ul {
  padding-left: 1.5em;
  padding-bottom: 1em;
}
main section.thirdsection a:hover {
  font-style: italic;
  background-color: #51e5f5;
}
main section.thirdsection a:active {
  background-color: #076973;
  color: #FFFFFF;
}
main section.thirdsection .providers {
  margin: 0.5em;
  padding-top: 0.5em;
  background-color: #fee9ae;
  border-radius: 20px;
}
main section.thirdsection .providers h5 {
  font-size: 1.3em;
  background-color: #fdcd49;
  padding: 0.75em 1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
}
main section.thirdsection .providers img {
  width: 5%;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.3em;
}
main section.thirdsection .providers .hero {
  width: 65%;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em;
}
main section.thirdsection .providers li {
  font-size: 1.25em;
  line-height: 1.5em;
}
main section.thirdsection .button {
  padding: 0.4em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  background-color: #0cc0d4;
  font-weight: bold;
}
main section.thirdsection .borderbottomorange {
  background-color: #caf7fc;
  border-bottom: 4px solid #f76f26;
}
main section.thirdsection .borderbottoyellow {
  background-color: #caf7fc;
  border-bottom: 4px solid #fdcd49;
  margin-bottom: 0.75em;
}
main section.thirdsection .borderbottomblue {
  background-color: #caf7fc;
  border-bottom: 4px solid #078fda;
  margin-bottom: 0.75em;
}
main section.fourthsection {
  background-color: #0cc0d4;
  border-radius: 40px;
  margin: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 1em;
}
main section.fourthsection h2 {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 0.5em;
  margin: 0.25em;
}
main section.fourthsection h3 {
  text-align: center;
  padding-left: 1em;
}
main section.fourthsection p {
  text-align: center;
  margin-bottom: 1em;
}
main section.fourthsection a {
  background-color: #f76f26;
  padding: 0.75em;
  width: 90%;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000000;
}
main section.fourthsection a:hover {
  background-color: #fdcd49;
  font-style: italic;
}
main section.fourthsection a:active {
  background: #dea302;
}
main section.fourthsection ul {
  display: table;
  margin-left: 1.5em;
  text-align: left;
  padding-top: 0.5em;
}
main section.fourthsection img {
  width: 0.75em;
  margin-right: 0.5em;
}
main section.fourthsection img#parkingpic {
  width: 85%;
  display: block;
  border-radius: 10px;
  margin: 0 auto 0.5em auto;
}
main section.fourthsection .col {
  float: none;
}
main .insurance {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5em 0 0.5em;
  background-color: rgba(202, 247, 252, 0.75);
  border-radius: 20px;
}
main .insurance .insurancetitle {
  background-color: #044e77;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0;
  margin: 1em auto 0.25em auto;
  text-align: center;
  border-radius: 13px;
  font-size: 1.15em;
  margin-top: 2em;
}
main .insurance .insurancetitle:first-child {
  margin-top: 0;
}
main .insurance .insurancetitle:last-child {
  margin-bottom: 0;
}
main .insurance ul {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
main .insurance ul li {
  padding: 0.2em 0;
}
main .services {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(238, 253, 255, 0.75);
  border-radius: 10px;
  margin-bottom: 0.5em;
}
main .services .servicetitle {
  background-color: #fdcd49;
  color: #000000;
  border-radius: 10px 10px 0 0;
  font-size: 1.15em;
  width: 100%;
}
main .services p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
main .services ul {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 1em;
}
main .services ul li {
  padding: 0.5em 0;
}
footer {
  background-color: #caf7fc;
  opacity: 75%;
}
footer p {
  font-size: 0.65em;
  text-align: center;
}
footer img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
  padding-top: 1em;
  opacity: 55%;
}
footer nav {
  background-color: #044e77;
  color: #FFFFFF;
  padding: 0.5em;
  margin-top: 3.5em;
}
footer nav a:link {
  background-color: #044e77;
  color: #FFFFFF;
}
footer nav a:hover {
  padding-left: 1.5em;
  background-color: #044e77;
}
footer nav a:active {
  font-style: italic;
}
footer #copy {
  color: #FFFFFF;
  background-color: #044e77;
  line-height: 0.75em;
  padding-bottom: 0.5em;
}
/*main,
header,
footer,
nav {
    padding: 1em;
}*/
h1 {
  color: #000000;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.8em;
  margin-top: 1.8em / 3;
  margin-bottom: 1.8em / 5;
  text-transform: uppercase;
}
h2 {
  color: #000000;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 1em;
}
h3 {
  color: #000000;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.1em;
  margin-top: 1.1em / 3;
  margin-bottom: 1.1em / 5;
  text-transform: uppercase;
}
h4 {
  color: #000000;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 0.9em;
  margin-top: 0.9em / 3;
  margin-bottom: 0.9em / 5;
  text-transform: uppercase;
}
h5 {
  color: #000000;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 0.85em;
  margin-top: 0.85em / 3;
  margin-bottom: 0.85em / 5;
  text-transform: uppercase;
}
h6 {
  color: #000000;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 0.75em;
  margin-top: 0.75em / 3;
  margin-bottom: 0.75em / 5;
  text-transform: uppercase;
}
a {
  /*&:visited {
        //makes all link/buttons have black text even after clicking
        color: @darkColor;
    }*/
}
a:link {
  color: #000000;
}
footer a:link {
  color: #FFFFFF;
}
footer a:visited {
  color: #FFFFFF;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  background-color: #caf7fc;
  color: #000000;
}
/*

TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide.

*/
@media only screen and (min-width: 481px) {
  header {
    text-align: left;
    padding-left: 3em;
  }
  header .hamburger img,
  header .cross img {
    width: 3.5em;
  }
  header a img {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header .logo {
    display: block;
  }
  header .logo_desktop {
    display: none;
  }
  nav {
    padding-left: 3em;
    padding-right: 3em;
  }
  nav img {
    width: 5%;
    margin-top: 0;
  }
  main {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  main div.robot_bg {
    background-image: url(../images/robotbackground_scroll.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  main div.hexbees_small_bg {
    background-image: url(../images/hexagons_bees_small.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  main div.hexbees_bg {
    background-image: url(../images/hexagons_bees_light.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  main .button {
    width: 50%;
  }
  main .question {
    border-radius: 25px;
  }
  main dt {
    font-size: 0.85em;
  }
  main dd {
    font-size: 0.85em;
  }
  main section.highlight {
    border-radius: 10px;
  }
  main section.highlight .button {
    padding-top: 0.5em;
    width: 50%;
  }
  main section.highlight .button img {
    vertical-align: none;
  }
  main section.highlight .button p {
    border-radius: 10px;
  }
  main section.secondsection h3 {
    border-bottom: 5px solid #078fda;
  }
  main section.thirdsection h3 {
    border-bottom: 5px solid #078fda;
  }
  main section.thirdsection .providers {
    margin: 1.5em;
  }
  main section.thirdsection .providers p {
    font-size: 0.75em;
  }
  main section.thirdsection .providers li {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 3em;
  }
  main section.fourthsection {
    border-radius: 30px;
  }
  main section.fourthsection h2 {
    border-radius: 20px;
  }
  main section.fourthsection a {
    border-radius: 30px;
  }
  main section.fourthsection ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  main section.fourthsection img#parkingpic {
    width: 95%;
  }
  main section.fourthsection .span_6_of_12 {
    width: auto;
  }
  main .insurance ul {
    width: 85%;
  }
  main .services {
    width: 85%;
  }
  footer img {
    padding-top: 1em;
  }
  body {
    font-size: 24px;
  }
}
/*

DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide.

*/
@media only screen and (min-width: 1025px) {
  header button.hamburger {
    visibility: hidden;
  }
  header button.cross {
    visibility: hidden;
  }
  header img {
    width: 15%;
    margin-right: 1em;
    margin-left: 1em;
    vertical-align: middle;
  }
  header h1 {
    font-size: 65%;
    font-weight: lighter;
    display: inline;
    text-transform: none;
  }
  header a {
    text-decoration: none;
    font-size: 175%;
    font-weight: lighter;
  }
  header a img {
    margin-right: 1em;
    width: 15%;
    vertical-align: middle;
  }
  header .logo {
    display: none;
  }
  header .logo_desktop {
    display: inline-block;
  }
  nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  nav a {
    padding-left: 6em;
    padding-right: 6em;
    color: #FFFFFF;
    background-color: #044e77;
  }
  nav a:link {
    background-color: #044e77;
    color: #FFFFFF;
  }
  nav a:hover {
    background-color: #fdcd49;
    color: #000000;
  }
  nav a:visited {
    color: #FFFFFF;
  }
  nav .urgent {
    color: #f76f26;
  }
  nav .urgent:hover {
    color: #FFFFFF;
    background-color: #f76f26;
  }
  nav img {
    display: none;
  }
  nav.menu_desktop {
    display: block;
    background-color: #044e77;
    opacity: 90%;
    padding: 0em;
    margin-bottom: 1.5em;
  }
  nav.menu_desktop a {
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 0.85em;
    border-radius: 0;
    background-color: #044e77;
    border-radius: 4px;
  }
  nav.menu_desktop a:hover {
    color: #000000;
    background-color: #fdcd49;
    font-style: normal;
  }
  nav.menu_desktop .urgent {
    color: #f76f26;
  }
  nav.menu_desktop .urgent:hover {
    color: #FFFFFF;
    background-color: #f76f26;
  }
  nav.menu_desktop li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  nav.menu_desktop img {
    padding-top: 0.5em;
    width: 0.75em;
  }
  nav.menu_desktop img#imageinnav {
    width: 16em;
    margin: 0.5em;
  }
  main {
    /* NOT SURE WHY I DECIDED TO KEEP THIS BUT OKAY
        
        div.hexbees_small_bg {
            background-image: url(../images/hexagons_bees_small.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        div.hexbees_bg {
            background-image: url(../images/hexagons_bees_light.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        */
  }
  main div.robot_bg {
    background-size: cover;
    /* KEEPING JUST IN CASE SOMETHING GOES HORRIBLY WRONG
            background-image: url(../images/robotbackground_scroll.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;*/
  }
  main #home {
    width: 100%;
  }
  main .accentimg {
    display: block;
  }
  main .highlight {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  main iframe {
    margin-left: 2em;
    display: inline-block;
    float: none;
    height: 650px;
  }
  main dl {
    width: 70%;
  }
  main dt {
    font-size: 1em;
  }
  main dd {
    font-size: 1em;
  }
  main dd ul {
    width: 50%;
  }
  main dd p {
    padding: 1em 3em 1em 3em;
    text-align: left;
  }
  main section.firstsection {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main section.firstsection h2 {
    font-size: 2.5em;
  }
  main section.firstsection ul {
    text-align: center;
  }
  main section.firstsection li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
  }
  main section.firstsection img {
    width: 60px;
  }
  main section.firstsection .button {
    width: 100%;
  }
  main section.firstsection div a.button {
    width: 67%;
  }
  main section.secondsection {
    margin-left: 8em;
    margin-right: 8em;
  }
  main section.thirdsection {
    margin-left: 3em;
    margin-right: 3em;
  }
  main section.thirdsection div.providers {
    width: 30%;
    margin: 0.5em;
  }
  main section.fourthsection {
    margin-left: 4em;
    margin-right: 4em;
  }
  main section.fourthsection h3 {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
  }
  main section.fourthsection p {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 0;
  }
  main section.fourthsection p:first-child {
    text-align: left;
  }
  main section.fourthsection img#parkingpic {
    width: 65%;
    margin: 0 0 0.5em 1em;
    align-content: left;
  }
  main section.fourthsection .col {
    float: left;
  }
  main section.fourthsection .span_6_of_12 {
    width: 49.5%;
  }
  main .insurance {
    width: 75%;
  }
  main .insurance .insurancetitle {
    padding: 0.5em 0 0.5em 0;
    margin: 1em auto;
  }
  main .insurance ul {
    width: 50%;
  }
  main .services {
    width: 65%;
  }
  main .services p {
    font-size: 0.75em;
  }
  main .services li {
    width: 65%;
    margin: 0 auto;
  }
  footer img {
    width: 15%;
    padding-top: 1em;
  }
  footer nav {
    text-align: center;
  }
  footer nav a:link {
    padding-left: 2em;
    padding-right: 2em;
  }
  footer nav a:visited {
    color: #FFFFFF;
  }
  footer nav a:hover {
    color: #FFFFFF;
  }
  footer nav li {
    display: inline-block;
  }
}
/*

DESKTOP BIGGER STYLESHEET

The following CSS affects all screen sizes larger than 1385 pixels wide.

*/
@media only screen and (min-width: 1385px) {
  header h1 {
    font-size: 106%;
  }
}
